[Unit]
Description=Prometheus Node Exporter service for machine metrics
After=network.target

[Service]
ExecStart=/opt/prometheus/node_exporter-1.1.1.linux-amd64/node_exporter

[Install]
WantedBy=multi-user.target
